firstmule/src/main/app/exceptions-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="exceptions-testFlow">
        <http:listener config-ref="httpListenerConfig" path="/ex" allowedMethods="get" doc:name="HTTP"/>
        <flow-ref name="exceptions-testFlow-1" doc:name="Flow Reference"/>
    </flow>
    <flow name="exceptions-testFlow-1">
        <flow-ref name="exceptions-testFlow-2" doc:name="Flow Reference"/>
        <logger level="INFO" doc:name="Logger"></logger>
		<catch-exception-strategy doc:name="mainflow_Exception_Strategy">
        	<set-payload value="flow1-ERR" doc:name="define payload flow 1"/>
        </catch-exception-strategy>
    </flow>
    <flow name="exceptions-testFlow-2">
        <remove-property doc:name="Property" propertyName="#[this_will_throw_an_exception]"/>
        <catch-exception-strategy doc:name="mainflow_Exception_Strategy">
        	<set-payload value="flow2-ERR" doc:name="define payload flow 2"/>
        </catch-exception-strategy>
    </flow>
</mule>
