firstmule/src/main/app/firstmule.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:context="http://www.springframework.org/schema/context"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">

    <context:property-placeholder location="api.properties" />
    <flow name="get:/helloworld" initialState="started">
        <set-property propertyName="p1" value="p1" doc:name="Set Property : p1 = p1"/>
        <set-property propertyName="p2" value="#[message.outboundProperties['p1']]" doc:name="Set Property : p2 = p1"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	message: "hoi !"
}]]></dw:set-payload>
        </dw:transform-message>

    </flow>
    <flow name="put:/payload">
        <byte-array-to-object-transformer mimeType="application/json" doc:name="Byte Array to Object"/>
        <set-property propertyName="3rd" value="#[message[2].payload.emailid]" doc:name="Get 3rd item"/>
        <set-property propertyName="d" value="yuuu" doc:name="Propertydummy"/>
        <set-session-variable variableName="assss" value="sssssss" doc:name="Session Variable"/>
    </flow>

    <flow name="put:/helloworld" initialState="started">
        
        <flow-ref name="firstmuleSub_Flow" doc:name="Go to firstmuleSub_Flow"/>

    </flow>
    <sub-flow name="firstmuleSub_Flow">
        <set-variable variableName="vv" value="vv" doc:name="Variable"/>
        <set-property propertyName="p" value="y" doc:name="Property"/>
        <choice doc:name="Choice">

            <when expression="1==12">
                <dw:transform-message doc:name="ERR!">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	message: "ERR!"
}]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <otherwise >
                <dw:transform-message doc:name="Transform Message - OK">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
    message: "stef" ++ flowVars.vv
}]]></dw:set-payload>
                </dw:transform-message>
            </otherwise>
        </choice>
    </sub-flow>
    <flow name="empty-flow-is-not-valid">
        <set-variable variableName="aaaa" value="aaaa" doc:name="Variable"/>
    </flow>
</mule>