firstmule/src/main/app/firstmule.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:context="http://www.springframework.org/schema/context"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">

    <context:property-placeholder location="api.properties" />
    <flow name="get:/helloworld" initialState="started">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	message: "hoi !"
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="put:/helloworld" initialState="started">
        <logger message="Hello logger : #[json.x]" level="INFO" doc:name="Log PUT Request - Payload"/>
        <flow-ref name="firstmuleSub_Flow" doc:name="Go to firstmuleSub_Flow"/>

    </flow>
    <sub-flow name="firstmuleSub_Flow">
        <choice doc:name="Choice">
            <when expression="#[validator.notEmpty(payload.x)]">
                <dw:transform-message doc:name="Transform Message - OK">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
    message: "stef_" ++ payload.message
}]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <otherwise>
                <dw:transform-message doc:name="ERR!">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	message: "ERR!"
}]]></dw:set-payload>
                </dw:transform-message>
            </otherwise>
        </choice>
    </sub-flow>
</mule>